/* General, Typology, ... */
html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Menlo, Consolas, Monospace;
    font-size: 0.85rem;  
    color: #101010;
    line-height: 1.6rem;
    margin: 0;
    padding: 0; 
}

article, aside, footer, header, hgroup, main, nav, section {
    display: flex;
    flex-direction: column;
}

p,
.content { margin: .5rem 0; }

.cmd,
textarea {
    border: none;
    line-height: 1;
    outline: none;
    resize: none;
    font: 1rem monospace;
}

/* Console */
.row { border-bottom: 1px dashed #ddd; }

.row .inner {
    padding-left: 1.5rem;
    padding-right: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.cmd { color: #808080; }

.cmd, 
[role=form] { position: relative; }

[role=form]:before {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-size: 100%;
    top: 6px;
    left: 0;
    width: 22px;
    height: 22px;
}

[role=form]:before { background-image: url('./arrow-right.svg'); }

.output .cmd > span {
    position: absolute;
    left: -20px;
    top: 0px;
}

.output.text .cmd > span { 
    top: -3px;
    width: 22px;
    height: 22px;
    background-image: url('./arrow-right-gray.svg'); 
    background-size: 100%;
}

.output.error {
    background-color: #ffe6e6;
}

.output.error .cmd > span {
    width: 13px;
    height: 13px;
    background-color: red;
    border-radius: 50%;
}

.output.error .cmd > span:before,
.output.error .cmd > span:after {
    position: absolute;
    top: 6px;
    left: 2px;
    width: 8px;
    height: 1px;
    content: "";
    background-color: white;
}

.output.error .cmd > span:before {
    transform: rotate(-45deg);
}

.output.error .cmd > span:after {
    transform: rotate(45deg);
}

textarea {
    padding-left: 1.5rem;
    padding-right: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #f7f7f7; 
}




